body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Space Mono', monospace;
    font-size: 1.25rem;
}

.container {
    width: 96%;
    border: 1px solid rgb(94, 94, 94);
    margin: 1.5% auto;
    background-color: #14213D;
    border-radius: 12px;
    color: #FFFFFF;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4.5rem;
    font-weight: 300;
}

h2 {
    margin-top: 0.25rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
}

h3 {
    font-family: 'Nova Mono', monospace;
    font-size: 1.6rem;
}

.container>img {
    width: 30%;
    max-width: 350px;
    display: block;
    margin: 15px auto;
    border-radius: 50%;
    border: 10px solid #FCA311;
}

header {
    background-color: #14213dee;
    position: sticky;
    top: 0;
}

.text {
    width: 94%;
    margin: 0 auto;
}

#float-pic {
    width: 25%;
    max-width: 250px;
    float: right;
    border-radius: 8px;
    border: 0.75px solid rgba(94, 94, 94, 0.35);
    box-shadow: 0.5px 0.5px 4px rgba(220, 220, 220, 0.5);
}

.links {
    width: 98%;
    margin: 0 auto;
}

.links {
    text-align: center;
}

.linkList {
    padding: 0;
}

.linkList li {
    display: inline-block;
    width: 28%;
    /* border: 1px solid #aaA311; */
}

.linkList li a {
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid #e5e5e52a;
    padding: 7px 12px;
    border-radius: 5px;
}

.linkList li a:hover {
    color: #FCA311;
    border: 1px solid;
}

.small {
    width: 1rem;
}

footer {
    border-top: 1px solid rgba(94, 94, 94, 0.35);
    ;
    background-color: #14213D;
    position: sticky;
    bottom: 0;
    width: 100%;
}

@media (max-width: 720px) {
    .linkList li {
        display: block;
        width: 95%;
        margin: 2.8rem 0.5rem;
    }

    .linkList li a {
        padding: 1.2rem 2.4rem;
    }
}