* {
    margin: 0;
    padding: 0;
}

body {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

div:first-of-type {
    width: 420px;
    height: 420px;
    background-color: gold;
    border-radius: 15px;
    border: 4px solid #333;
}

div:last-child {
    background-color: darkolivegreen;
    width: 50%;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

div:first-of-type:hover>div:last-child {
    background-color: darkred;
    width: 50%;
}