body {
    margin: 0;
    padding: 0;
}

#flex-container {
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.box-1,
.box-2,
.box-3 {
    border: 4px solid #999;
    border-radius: 10px;
    width: 10vw;
    height: 10vw;
    margin: 10px;
}

/* yes, i used the vw units for height too.
i wanted them to be squere */
.box-1 {
    background-color: forestgreen;
}

.box-2 {
    background-color: royalblue;
}

.box-3 {
    background-color: crimson;
}