#outer {
    width: 200px;
    height: 200px;
    background: darkcyan;
    margin: 50px;
}

#inner {
    width: 50px;
    height: 50px;
    background: lightgreen;
    /* The problem is that the initial code was set to position:absolute
    which places the element relative to the entire HTML document.
    The problem is solved using position:relative wich make the position 
    relative to the parant element initial placement */
    /*--- Line removed: position: absolute;--- */
    position: relative;
    top: 10px;
}